
html {
    min-width: 100%;
}

/* BASE ELEMENTS */

h1, h2, h3 {
    margin: 0;
    padding: .6em .6em;
    color: #154360;
}

h4 {
    padding: .6em .6em 0 .6em;
}

h4, h5, .hi {
    margin: 0;
    color: #154360;
}

a {
    text-decoration: none;
}

a:visited {
    color: #154360;
}

ul {
    margin: .4em 0;
    padding-left: 1.5em;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

/* BODY */

body {
    min-width: 100%;
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: Karla;
    font-weight: lighter;
}

/* NAVBAR */

#navbar {
    /* min-width: 100%; */
    max-height: 50px;
    padding: .5em;
	background-color: #154360;
	font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 32fr 2fr;
}

#navbar div {
    height: auto;
}

#navbar-button {
    padding: 0;
}

#navbar-button img {
    height: 100%;
    width: 100%;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-panel a, .dropdown-item a {
    color: white;
    font-weight: lighter;
}

nav a:visited {
    color: white;
}

#navbar-button {
    width: 1.8em;
    height: 1.8em;
}

.navbar-item {
    text-align: center;
}

#dropdown-nav {
    position: absolute;
    top: 2.7em;
    left: 6px;
    display: none;
    background-color: #154360;
    /* TODO: add dropdown animation */
}

.dropdown-panel {
    display: grid;
    grid-template-rows: auto;
    padding-left: 1px;
}

.dd-panel-2 {
    display: none;
}

.dd-panel-2:hover, .dd-panel-2 a:hover {
    display: grid;
}

.dropdown-item {
    width: 10em;
    padding: 10px;
    background-color: #1F618D;
    color: whitesmoke;
    font-size: 1.1em;
}

.dropdown-item:hover, .dropdown-item a:hover {
    background-color: whitesmoke;
    color: #154360;
}


/* MAIN CONTENT */

.center-column {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.sm-col {
    grid-template-columns: 1fr 2fr 1fr;
}

@media(min-width: 1300px) {
    .center-column {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .sm-col {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 850px) {
    .center-column {
        grid-template-columns: 1fr;
    }
    .sm-col {
        grid-template-columns: 1fr;
    }
}

.list-col {
    display: grid;
    grid-gap: .8vh;
    grid-template-rows: repeat(1fr, 50);
}

.content-section {
    margin: 1em;
    border: 1px solid #dddddd;
    border-radius: 2px;
}

.content-section h2, .content-section h3, .content-section .hi {
    background-color: #D4E6F1;
}

.body-content {
    margin: 1vh 1vw;
}

#reminders {
    display: flex;
}

#reminders img {
    height: 1.5em;
    width: 1.5em;
    padding: .5em;
    background-color: #D4E6F1;
}

.reminder {
    padding-left: .4em;
    font-style: italic;
}

#actions {
    height: 8.5em;
}

.action_alt_panel {
    display: none;
}

.content {
    margin: .5em;
}

#vehicle-list {
    display: grid;
    gap: 5px;
    grid-template-rows: auto;
}

.vehicle {
    /* margin-top: 5px; */
    width: 94%;
    padding: .75em 3%;
    background-color: #CCFFFF;
}

.vehicle-details {
    display: none;
    margin: 0 0 .5em 1.5em;
    grid-template-columns: 1fr 1fr;
}

.details-link {
    text-decoration: underline;
}

form {
    font-weight: none;
}

form h2, form h3 {
    background-color: #D4E6F1;
}

form a {
    color: #154360;
}

form a:visited {
    color: #154360;
}

fieldset {
    border: none;
}

.form-row {
    margin: 1.5vh 0;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 3fr;
}

.form-input {
    padding: 0 2%;
    font-size: .9em;
    font-family: Karla;
}

.password {
    letter-spacing: 3px;
    font-weight: bold;
}

.form-label {
    padding: 1.4vh 0;
    font-size: 1.1em;
    text-align: center;
}

.btn {
    width: 60%;
    margin: 10px 20%;
    padding: 1.4% 2%;
    background-color: #2980B9;
    color: white;
    font-weight: none;
    font-size: 1.1em;
    border-radius: 5px;
    border-style: none;
}

.first-middle {
    grid-template-columns: 1fr 1.6fr .3fr .6fr;
}

@media(min-width: 1300px) {
    .form-input {
        font-size: .8em;
    }
    .form-label {
        padding: .9vh 0;
        font-size: 1em;
    }
    .btn {
        font-size: 1em;
    }
}

.frame {
    background: #ffffff;
    margin-top: 2vh;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
  
.article-title a {
    color: #444444;
}
  
a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
  
.article-content {
    white-space: pre-line;
    margin-bottom: 5px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a {
    color: #5f788a;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

/* MANAGE USERS DASHBOARD */
#dashboard_panel {
    max-width: 900px;
    padding: 4px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 4px;
    background-color: whitesmoke;
    border-style: outset;
    border-color: #723b97;
    border-radius: 10px;
}

#table_view {
    max-height: 800px;
    padding: 0;
    display: grid;
    gap: 1px;
    background-color: darkgrey;
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 6px;
}

#table_header {
    background-color: darkgrey;
}

#table_header h4 {
    margin: 0;
}

.admin-row {
    margin-top: .9vh;
    grid-template-columns: 4fr 1fr;
}

.admin-row-3 {
    margin-top: .9vh;
    grid-template-columns:  1fr 3fr 1fr;
}

.table_row {
    min-width: 600px;
    padding: 0.6em 0;
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 2fr 4fr 1fr;
    justify-items: center;
    background-color: #EAF2F8;
}

.row-light {
    background-color: whitesmoke;
}

.search_row {
    grid-template-columns: auto;
}

.admin-btn {
    padding: .4em;
    background-color: #2980B9;
    color: white;
    font-weight: none;
    font-size: 1.1em;
    border-radius: 5px;
    border-style: none;
}

.btn-light {
    background-color: #ffffff;
    color: #2980B9;
}

@media(min-width: 1300px) {
    .admin-btn {
        font-size: 1em;
    }
}