{% extends "layout.html" %}
{% block content %}

    <div class = "center-column sm-col">
        <div></div>
        <div class = "frame">
            <form method = "POST" action = "">
                {{ form.hidden_tag() }}
                <h3 class = "">Add an odometer checkin for your vehicle</h3>
                <fieldset class = "">

                    <div class = "form-row">
                        {{ form.checkin_type.label(class = "form-label") }}
                        {% if form.checkin_type.errors %}
                            {{ form.checkin_type(class = "form-input is-invalid") }}
                            <div class = "invalid-feedback">
                                {% for error in form.checkin_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.checkin_type(class = "form-input") }}
                        {% endif %}
                    </div>

                    <div class = "form-row">
                        {{ form.odometer.label(class = "form-label") }}
                        {% if form.odometer.errors %}
                            {{ form.odometer(class = "form-input is-invalid") }}
                            <div class = "invalid-feedback">
                                {% for error in form.odometer.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.odometer(class = "form-input") }}
                        {% endif %}
                    </div>
                    
                </fieldset>
                <div class = "">
                    {{ form.submit(class = "btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <div></div>
    </div>
    
{% endblock content %}