<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title %}
        <title>webapp - {{ title }}</title>
        {% else %}
        <title>webapp</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
            <nav id="navbar">

                <button id="navbar-button" onclick = "toggleNav()" class = "navbar-item">
                    <img id = "nav-closed" src="https://img.icons8.com/material-rounded/24/000000/menu--v3.png"/>
                </button>
                <a class="navbar-item" href="{{ url_for('home') }}">home</a>
                {% if current_user.is_authenticated %}
                    <a class="navbar-item" href="{{ url_for('logout') }}">logout</a>
                {% else %}
                    <a class="navbar-item" href="{{ url_for('login') }}">login</a>
                {% endif %}
            </nav>

            <nav id = "dropdown-nav">

                <div id = "0" class = "dropdown-panel">
                    <a href = "#" class = "dropdown-item">This is a nav button</a>
                    <a href = "#" class = "dropdown-item">This is a nav button</a>
                    <a href = "#" class = "dropdown-item expand" onclick = "toggleNavPanel('1')">This is a nav button &rsaquo;</a>
                    <a href = "#" class = "dropdown-item">This is a nav button</a>
                </div>

                <div id = "1" class = "dropdown-panel dd-panel-2">
                    <a href="{{ url_for('register_user') }}" class = "dropdown-item">Register User</a>
                    <a href="{{ url_for('login') }}" class = "dropdown-item">Login</a>
                    <a href="{{ url_for('manage_users') }}" class = "dropdown-item">Manage Users</a>
                    <a href="{{ url_for('reset_request') }}" class = "dropdown-item">Reset Request</a>
                </div>

                <div id = "2" class = "dropdown-panel dd-panel-2"> <!-- Alternative dropdown panel-2, onclick = "toggleNavPanel('2')" -->
                    <a href = "#" class = "dropdown-item">This is a nav button</a>
                </div>

            </nav>


        </header>
        <main class="">
            {% with messages = get_flashed_messages(with_categories = True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class = "alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    
        <footer>

        </footer>
        <script src = "{{ url_for('static', filename = 'script.js') }}"></script>
    </body>
</html>